<!--==============================footer=================================-->
<!--markup footer-->
<footer class="footer footer_1">
  <!--copyright part-->
  <div class="footer_bottom_part">
    <div class="container clearfix">
      <p>&copy; {{ site.theme_settings.footer_text }}</p>
      <div class="mobile_menu">
        <nav>
          <ul>
            <li><a href="{{ site.url }}">Inicio</a></li> 
            {% for page in site.pages %}
            {% if page.title and page.hide != true %}
            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
</div> <!-- wrapper_container  -->

<!--scripts include-->
<script src="{{ site.baseurl }}/assets/js/jquery-2.1.0.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.queryloader2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jflickrfeed.js"></script>
<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/retina.js"></script>
<script src="{{ site.baseurl }}/assets/js/circles.min.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/twitter/jquery.tweet.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>

<script>

var colors = [['#fa985d', '#ffffff']], circles = [];
var child = document.getElementById('circles-4');
circles.push(Circles.create({
    id:         child.id,
    value:      8,
    radius:     19,
    width:      3,
    maxValue:   10,
    duration:   1000,
    text:       function(value){return value;},
    colors:    ['#fa985d', '#ffffff']
}));

var child = document.getElementById('circles-5');
circles.push(Circles.create({
    id:         child.id,
    value:      7.7,
    radius:     19,
    width:      3,
    maxValue:   10,
    duration:   1000,
    text:       function(value){return value;},
    colors:    ['#fa985d', '#ffffff']
}));

var child = document.getElementById('circles-6');
circles.push(Circles.create({
    id:         child.id,
    value:      9.2,
    radius:     19,
    width:      3,
    maxValue:   10,
    duration:   1000,
    text:       function(value){return value;},
    colors:    ['#fa985d', '#ffffff']
}));

var child = document.getElementById('circles-1');
circles.push(Circles.create({
    id:         child.id,
    value:      6.5,
    radius:     19,
    width:      3,
    maxValue:   10,
    duration:   1000,
    text:       function(value){return value;},
    colors:    ['#fa985d', '#ffffff']
}));

</script>


</body>
</html>
