---
layout: default
---
<div class="col-lg-8 col-md-8 col-sm-12">
  <div class="section read_post_list var2">
      {% if site.theme_settings.header_text %}
    <h2 class="section_title section_title_big">{{ site.theme_settings.header_text }}</h2>
      {% endif %}
    <ul>
      {% for post in paginator.posts %}
      <li>
        <div class="section_post_left">
          <div class="scale_image_container">
            {% if post.thumbnail %}
              <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.thumbnail }}" alt="" class="scale_image"></a>
              <div class="post_image_buttons">
                  {% capture tag_list %}{{ post.tags | join: "|"}}{% endcapture %}
                  {% include tags_list.html tags=tag_list %}
              </div>
            {% else %}
            <!--  <a href="#"><img src="{{ site.baseurl }}/assets/images/filler.png" alt="" class="scale_image"></a> -->
            {% endif %}


          </div>
          <div class="clearfix">
            <div class="f_left">
              <div class="event_date">  {{ post.date | date: "%B %-d, %Y" }}</div>
            </div>
          </div>
          <div class="post_text">
            <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p>  {{ post.content | strip_html | truncate: "250" }} </p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="button button_type_2 button_grey_light">Ler Mais</a>
          </div>
        </div>
      </li>
        {% endfor %}
    </ul>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination_block">
   <ul class="pagination clearfix">
     {% if paginator.previous_page %}
     <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i> {{ site.theme_settings.str_previous_page }}</a></li>
     {% endif %}
     {% if paginator.next_page %}
     <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">  {{ site.theme_settings.str_next_page }} <i class="fa fa-angle-right"></i></a></li>
    {% endif %}
   </ul>
  </div>
  {% endif %}



</div>
