---
layout: default
---
<style type="text/css">
  .img-post{
    max-width: 750px;
  }
</style>

<div class="col-lg-8 col-md-8 col-sm-12">
            <div class="section">
              <div class="clearfix page_theme">

                <div class="f_left">
                  <div class="post_image_buttons">
                    <div class="buttons_container">
                      {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
                      {% include tags_list.html tags=tag_list %}
                    </div>
                  </div>
                  <div class="event_date"> {{ page.date | date: "%B %-d, %Y" }}</div>
                </div>
              </div>

              <h2 class="section_title section_title_medium_var2">{{ page.title }}</h2>
              {% if page.podcast %}
              <iframe src="{{ page.podcast }}" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
              {% endif %}
              <div class="text_post_block">
                {% if page.feature-img %}
                <div class="scale_image_container">
                    <a href="#"><img src="{{ page.feature-img }}" alt="" class="scale_image"></a>
                </div>
                {% endif %}
                {{ content }}
              </div>

              <div class="section">
                <h3 class="section_title">Nesse Episodio</h3>
                <ul class="writers_list clearfix">
                 {% for epi in page.talkers %}            
                  {% for user in site.team %}
                   {% if user.username ==  epi %}
                  <li>
                    <a href="#">
                      <div>
                        <img src="{{ user.avatar }}" alt="">
                      </div>
                      <div class="post_text">
                        <h4>{{ user.name }}</h4>
                        <div class="event_date">{{ user.title }}</div>
                      </div>
                    </a>
                  </li>
                      {% endif %}
                   {% endfor %}
                  {% endfor %}
                </ul>
              </div>


              <div class="text_post_section add_this">
                <span>Share this:</span>
                <div>
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
                  <div class="addthis_inline_share_toolbox"></div>
                                  <!-- AddThis Button END -->
                </div>
              </div>

              <div class="text_post_section tags_section side_bar_tabs">
                <span>Tags:</span>
                <div class="widget_tags">
                  <div class="box-tags">
                    <!-- Tag list -->
                    {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
                    {% include tags_list.html tags=tag_list %}
                  </div>
                </div>
              </div>

              <!-- Post navigation -->
              {% if site.theme_settings.post_navigation %}
                {% include post_nav.html %}
              {% endif %}

              <!-- author -->
              {% if page.author %}
                {% include author.html %}
              {% endif %}



            </div>
          </div>
